<section class="page">
  <div class="centered-box">

    <%= render 'shared/errors' %>

    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

      <p>
        <label>Email
          <input type="text" name="user[email]">
        </label>
      </p>

      <p>
        <label>Password
          <input type="password" name="user[password]">
        </label>
      </p>

      <button type="submit" name="submit">Submit</button>
    </form>
  </div>

  <% content_for :footer do %>
    Log in page.
  <% end %>
</section>
